<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gourav.scarnedice">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dice1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dice1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mplayeasy" />
        <activity android:name=".Mplaymed" />
        <activity android:name=".Splayeasy" />
        <activity android:name=".Splaymed" />
        <activity android:name=".Splayeasysc1" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>